body {
	font-family: Verdana;
	background-image: url(http://sfwallpaper.com/images/super-mario-galaxy-background-26.jpg);
	text-align: center;
	position: relative;
    min-height: 100vh;
}

#differentpages {
	background-color: black;
}

#homeid {
	font-size: 150%;
	color: red;
}

#galleryid {
	font-size: 150%;
	color: green;
	padding: 10px 100px 5px 100px;
}

#registerid {
	font-size: 150%;
	color: yellow;
	padding: 10px 100px 5px 100px;
}

#imagesid {
	font-size: 150%;
	color: yellow;
}

h1 {
	color: red;
	text-align: center;
	text-shadow: 4px 4px 5px darkred;
}

#differentpages {
	background-color: black;
	border: 5px solid green;
    border-radius: 1em;
	margin-right: 20em;
	margin-left: 20em;
	line-height: 20px;
	font-style: italic;
	margin-bottom: 2em;
}

li {
	display: inline-block;
}

.container {
	display:  flex;
	text-align: center;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

img {
	height: 300px;
	width: 200px;
	transition:  all 500ms;
}

img:hover {
	transform: scale(1.1);
}

#ganon {
	width: 250px;
}

footer {
	clear: both;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: green;
	border-radius: 1em;

}

#footerid {
	background-color: black;
	border: 5px solid green;
    border-radius: 1em;
	margin-right: 20em;
	margin-left: 20em;
	font-style: italic;}

hr {
	border: 2px solid green;
	margin: 0px;
}